{% extends 'blog/base.html' %}

{% block content %}
<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Fabricante</td>
      <td>Descripcion</td>
      <td>Precio</td>
      <td>Color</td>
		</tr>

	</thead>
	<tbody>
		{% for bicicleta in bicicletas %}
		<tr>
      <td>{{ bicicleta.id }}</td>
			<td>{{ bicicleta.fabricante }}</td>
      <td>{{ bicicleta.descripcion }}</td>
      <td>{{ bicicleta.precio }}</td>
      <td>{{ bicicleta.color }}</td>

			<td>
				<a class="btn btn-primary" href="#">Editar</a>
				<a class="btn btn-danger" href="#">Eliminar</a>
			</td>
		</tr>
		{% endfor %}

	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>
{% endblock%}
